<div class="well">
  <div>
    <strong>Query</strong>
    <div class="">
      <%= sql_color @sql %>
    </div>
  </div>

  <div>
    <strong>Result</strong>
    <div class="">
      <%= query.inspect %>
    </div>
  </div>

  <div>
    <strong>Params</strong>
    <div class="">
      <%= params.inspect %>
    </div>
  </div>


</div>
